/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

/* Estilos para el recuadro negro */
.container {
  max-width: 2200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #000;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #eb1c91; /* Agrega un contorno blanco y un contorno rosa al recuadro */
}


/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .container {
    padding: 10px;
  }
}

/* Estilos para encabezados */
h1 {
  font-size: 60px;
  color: #eb1c91; /* Color rosa (#eb1c91) */
  font-weight: 1200; /* Hace que el texto sea más grueso (700 es un valor común para negritas) */
  -webkit-text-stroke: 1.5px white; /* Agrega un contorno blanco de 2px (prefijo para navegadores webkit) */
  text-stroke: 2px white; /* Agrega un contorno blanco de 2px (estándar) */
}

h2 {
  font-size: 60px;
  color: #333;
}

.nombre-ana {
  color: turquoise; /* Color turquesa para el nombre "Ana" */
}

/* Estilos para enlaces */
a {
  text-decoration: none;
  color: #0074d9;
}

a:hover {
  color: #0056b3;
}

/* Estilos para botones */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

/* Estilos para imágenes responsivas */
img {
  max-width: 100%;
  height: auto;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Estilos para el menú de navegación */
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .navbar ul {
    text-align: center;
    display: block;
  }

  .navbar li {
    display: block;
    margin: 10px 0;
  }
}

/* Estilos para secciones */
.section {
  padding: 20px;
}

/* Estilos para pies de página */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
